.game-wrapper {
  height: 100%;

  .main-header {
    display: flex;
    padding: $base-spacing-double;
    font-size: 1em;
    border-bottom: 1px solid $color-black;
    border-radius: 0px;

    .header-description {
      font-size: 1em;
    }
  }

  .active-content {
    padding: $base-spacing-double;
    background-color: darken($color-white, 2%);
    height: calc(100% - 80px);
  }
}
