.main-menu {
  display: flex;
  height: 100%;
  @extend .\+soft-double;
  flex-direction: column;
}

.main-menu-header {
  @extend .\+push-bottom-quad;
}

.main-menu-content {
  width: 430px;
  flex: 0 1;
}
