$color-white:     #f3f3f3;
$color-black:     #404040;
$lightgrey:       #d3d3d3;
$teal:            #56E7E1;
$teal-darker:     #35B0CF;
$blue:            #348FBA;
$cobalt:          #3574AF;
$blue-darker:     #3B5786;
$green-darker:    #40916A;
$green:           #4BB544;
$green-lighter:   #72CE4A;
$green-lightest:  #80DD5B;
$silver:          #BBD3C9;
$slate:           #94B3BC;
$slate-darker:    #8B91AA;
$purple-lighter:  #85709D;
$purple:          #5D6191;
$purple-darker:   #4E476C;
$maroon-darker:   #64395A;
$maroon:          #7D395F;
$maroon-lighter:  #983963;
$clay:            #A6424B;
$orange:          #C25838;
$orange-lighter:  #CE663A;
$orange-lightest: #E2953C;
$yellow-darker:   #E9B248;
$yellow:          #F4CC3D;
$pink:            #FF4BAD;
$pink-darker:     #F6296B;
$pink-lighter:    #D97E9C;
$cherry:          #C73955;
$peach-lighter:   #FFC29F;
$peach:           #FF916D;
$peach-darker:    #F36459;

$base-spacing: 4px;
$base-spacing-half: $base-spacing / 2;
$base-spacing-double: $base-spacing * 2;
$base-spacing-quad: $base-spacing * 4;

$border-radius: 2px;

.\+white-text {
  color: $color-white;
}

.\+blue-text {
  color: $blue;
}
